html{
    scroll-snap-type:y mandatory;
}

.app{
    height:100vh;
    background-color:black;
    display:grid;
    place-items: center;
}
.app_video{
    position: relative;
    height:800px;
    border-radius: 20px;
    width:80%;
    max-width:500px;
    overflow: scroll;
    scroll-snap-type:y mandatory;
}

/*Hide scrollbar*/
.app_videos::-webkit-scrollbar{
    display:none;
}
.app_videos {
    -ms-overflow-style:none;
    scrollbar-width:none;
}